<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>点豆大讲堂</title>
		<link rel="stylesheet" href="/css/weixincss/bootstrap.min.css">
		<link rel="stylesheet" href="/css/weixincss/style.css">
		<link rel="stylesheet" href="/css/weixincss/indexv2.css">
		<link rel="stylesheet" href="/css/weixincss/course.css" />
	</head>
	<body style="padding-bottom: 52px;">
		<!--标题-->
		<h1 class="text-center mantoutitle">点豆公开课</h1>
		<!--轮播-->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators slideicon">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<a >
						<img id="banner1" class="slideimg" alt="首页轮播图">
					</a>
				</div>
				<div class="item">
					<a>
						<img id="banner2" class="slideimg" alt="首页轮播图">
					</a>
				</div>
				<div class="item">
					<a>
						<img id="banner3" class="slideimg" alt="首页轮播图">
					</a>
				</div>
				<div class="item">
					<a>
						<img id="banner4" class="slideimg" alt="首页轮播图">
					</a>
				</div>
			</div>
		</div>

		<div class="courselist">
			<ul>
				<li class="course-list-item clearfix">
					<div class="item-avatar">
						<a href="/courseplay/189">
							<img src="http://www.mtedu.com/upload/images/course/e4/3e/9d/e43e9d1959db1a3c717343cd701f5801.jpg" />
						</a>
					</div>
					<div class="item-content">
						<h3 class="item-title">
                        	<a href="/courseplay/189">60分钟微信排版课：教你做让转发量和点赞数暴增的微信排版</a>
                        </h3>
						<div class="item-teacher">
							<span class="menter">
                                <span class="glyphicon glyphicon-user"></span>
								&nbsp;唐三藏 &nbsp;北京小黄人科技有限公司创始人微信运营专家</span>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<script src="/js/weixinjs/jquery.js"></script>
		<script src="/js/weixinjs/bootstrap.min.js"></script>
		<script src="/js/weixinjs/swipe.js"></script>
		<script>
			$(function() {
				$("#myCarousel").touchwipe({
					wipeLeft: function() {
						jQuery("#myCarousel").carousel('next');
					},
					wipeRight: function() {
						jQuery("#myCarousel").carousel('prev');
					},
					min_move_x: 20,
					preventDefaultEvents: true
				});
			});
			document.getElementById('banner1').src = "/files/bannerimgs/banner1.jpg?" + new Date().getTime();
			document.getElementById('banner2').src = "/files/bannerimgs/banner2.jpg?" + new Date().getTime();
			document.getElementById('banner3').src = "/files/bannerimgs/banner3.jpg?" + new Date().getTime();
			document.getElementById('banner4').src = "/files/bannerimgs/banner4.jpg?" + new Date().getTime();
		</script>
	</body>

</html>