<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title></title>
		<link rel="stylesheet" href="/css/weixincss/bootstrap.min.css">
		<link rel="stylesheet" href="/css/weixincss/style.css">
		<link rel="stylesheet" href="/css/weixincss/newplay.css">
		<link rel="stylesheet" href="/css/weixincss/android.css">
	</head>

	<body style="padding-bottom: 52px; background-color: #f1f1f1;">
		<!--标题-->
		<h1 class="text-center mantoutitle">点豆公开课</h1>
		<div style="position: relative;">
			<div class="video" style="background:#1cbcd6;">
				<video id="test_video" class="video-js" controls preload="none" width="640" height="264" poster="" data-setup="{}">
					<source src="http://7xknrw.media1.z0.glb.clouddn.com/ruhezuoyingxiao-xiaomasong.mp4" type='video/mp4'>
				</video>
			</div>
		</div>

		<div id="tabtip" class="container">
			<ul id="myTab" class="nav nav-tabs row mantoutab">
				<li class="active col-xs-4 text-center"><a vinfo="summary" class="center-block" data-toggle="tab">简介</a></li>
			</ul>
		</div>

		<div class="content">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="summary">
					<div class="container">
						<div class="row csdetials">
							<div class="col-xs-12  mantoutitle"><span class="color-block"></span>导师简介</div>
							<div class="col-xs-12  mentername">
								<div class="flowergif" style="display: none;"><img src="http://static.live.mtedu.com/liveImages/images/flower.gif" /></div>
								<div class="row">
									<div class="col-xs-12">
										<div class="avatar">
											<img src="http://www.mtedu.com/upload/images/teacher/06/55/2e/06552ea84cb580f6d1d9bffd888bbd32.jpg" />
										</div>
									</div>
									<div class="col-xs-12">
										<div class="teacher-name">唐三藏</div>
										<div class="teacher-title">北京小黄人科技有限公司创始人 微信运营专家</div>
										<div class="infolabel">
											<div>Ta的经验</div>
										</div>
										<p>
											其创立了为微信运营者提供教程、案例的公众平台“微互动（wihudong）”，开发为微信运营者服务的工具“i排版（iPaiban.com）”，使用的用户包括微信团队、Wemedia、微信500强成员、央视、联想、民生银行、一条、时尚集团等，并为多家企业提供定制开发、新媒体传播运营咨询服务。
										</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12  mantoutitle"><span class="color-block"></span>适合人群</div>
							<div class="col-xs-12  courseintro">
								<p>转发量和点赞数暴增的微信排版是什么样的？标题字数应该控制在多少字内比较美观和易传播？i排版创始人将会告诉你微信排版的4个小技巧</p>
							</div>
							<div class="col-xs-12  mantoutitle"><span class="color-block"></span>课程简介</div>
							<div class="col-xs-12  courseintro">
								<p>转发量和点赞数暴增的微信排版是什么样的？标题字数应该控制在多少字内比较美观和易传播？i排版创始人将会告诉你微信排版的4个小技巧</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>