<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/webcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/webcss/animate.min.css">

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="/css/webcss/main.css">
  </head>
  <body class="login">
    <div class="form-signin">
      <div class="text-center">
        <img src="/img/webimg/logo_small.png">
      </div>
      <hr>
      <div class="tab-content">
        <div id="login" class="tab-pane active">
          <form action="admin_index.html">
            <p class="text-muted text-center">
              请输入您的账号和密码
            </p>
            <input type="text" placeholder="账号" class="form-control top">
            <input type="password" placeholder="密码" class="form-control bottom">
            <div class="checkbox">
              <label>
                <input type="checkbox"> 记住我
              </label>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">登录</button>
          </form>
        </div>
        <div id="forgot" class="tab-pane">
          <form action="admin_index.html">
            <p class="text-muted text-center">请输入有效的账号邮箱地址</p>
            <input type="email" placeholder="mail@domain.com" class="form-control">
            <br>
            <button class="btn btn-lg btn-danger btn-block" type="submit">发送密码到邮箱</button>
          </form>
        </div>
        <div id="signup" class="tab-pane">
          <form action="admin_index.html">
            <input type="text" placeholder="姓名" class="form-control top">
            <input type="email" placeholder="mail@domain.com" class="form-control middle">
            <input type="password" placeholder="密码" class="form-control middle">
            <input type="password" placeholder="确认密码" class="form-control bottom">
            <button class="btn btn-lg btn-success btn-block" type="submit">注册</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <ul class="list-inline">
          <li> <a class="text-muted" href="#login" data-toggle="tab">登录</a>  </li>
          <li> <a class="text-muted" href="#forgot" data-toggle="tab">忘记密码</a>  </li>
          <li> <a class="text-muted" href="#signup" data-toggle="tab">注册</a>  </li>
        </ul>
      </div>
    </div>

    <!--jQuery -->
    <script src="/js/webjs/jquery.min.js"></script>

    <!--Bootstrap -->
    <script src="/js/webjs/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function($) {
        $(document).ready(function() {
          $('.list-inline li > a').click(function() {
            var activeForm = $(this).attr('href') + ' > form';
            //console.log(activeForm);
            $(activeForm).addClass('animated fadeIn');
            //set timer to 1 seconds, after that, unload the animate animation
            setTimeout(function() {
              $(activeForm).removeClass('animated fadeIn');
            }, 1000);
          });
        });
      })(jQuery);
    </script>
  </body>
</html>
